body
{
	margin: 0;
}

.Rela
{
	border: 2px solid green;
	background-color: blue;
	display: flex;
	flex-wrap: wrap;
}

#Nav
{

	background-color: yellow;
	width: 147px;
	height: 90px;
	margin-right:2px ;
	float: left;
}

#Cont
{	
	width: 90%;
	background-color: grey;
}
