body
{
	margin: 0;
  padding: 0;
}

#Left
{
	padding: 2px;
	margin: -10px 0 0 ;
	width: 200px;
	background-color: #C8FC98;
	line-height: 1.4em;
	position: absolute;
}
#Marg
{
	margin: 0px 5px 0;
}
header
{
	margin: 0px 0px 10px;
	background-color: lightgrey;
	padding: 5px;
}
#Content
{
	line-height: 1.4em;
	margin: 0 5px 0;
	margin: -15px 0px 0 210px;
}
footer
{
	background-color:black;
	color: yellow;
	margin: 0px 0px;
	padding: 0 49% 0;
	position: fixed;
	bottom: 0;
}
a
{
	color: yellow;
}