body{
  margin: 0;
  
}
#Fir
{
  margin-right: auto;
  margin-left: auto;
  width: 45%;
  color: white;
  background-color:green;
  line-height: 1.4em;
}
#Sec
{
  padding: 3%;
  border:5px solid blue;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  color: white;
  background-color:blue;
  line-height: 1.4em;
}
